<mat-card>
    <mat-card-subtitle>
        What is selenium.video?
    </mat-card-subtitle>
    <mat-card-content>
        selenum.video is a tool that helps you to execute your selenium scripts right from a browser hit.
    </mat-card-content>
    <mat-card-subtitle>
        What are the versions of Python Selenium used?
    </mat-card-subtitle>
    <mat-card-content>
        Python 3.8+ and Selenium 4.
    </mat-card-content>
    <mat-card-subtitle>
        Do you have a Demo Video on how to use this App?
    </mat-card-subtitle>
    <mat-card-content>
        Yes, please check this link.
    </mat-card-content>
    <mat-card-subtitle>
        Any heads up for Python Environment?
    </mat-card-subtitle>
    <mat-card-content>
        <ul>
            <li>Imports must be one per line, and only webdriver imports are supported.</li>
            <li>Semicolon and comma characters are not supported for Python environment.</li>
            <li>Double quotes are not supported, use 'single quotes' or ''' Multiline Strings ''' instead.</li>
        </ul>
    </mat-card-content>
    <mat-card-subtitle>
        Any references that we should know?
    </mat-card-subtitle>
    <mat-card-content>
        Most of different UI components used are taken from <a href="https://material.angular.io/" target="_blank">Angular Material</a>.
    </mat-card-content>
    <mat-card-subtitle>
        Why I see failed message while running?
    </mat-card-subtitle>
    <mat-card-content>
        This can happen due to many reasons, like internet connectivity of nodes, etc.
        One prominent issue is usage of Firefox, Avoid using it as part of your tests while running in this Web App.
        Yet, you can still see the Video after a while.
    </mat-card-content>
    <mat-card-subtitle>
        What are all the sites allowed for testing?
    </mat-card-subtitle>
    <mat-card-content>
        We recommend users to use the <a href="https://selenium.video/ui-test-page" target="_blank">UI Test Page</a> for testing purpose.
        So we have aconstraint of using only specific websites listed below.
        <ul>
            <li><a href="https://selenium.video/ui-test-page" target="_blank">http://localhost/ui-test-page</a></li>
            <li><a href="https://google.com/" target="_blank">Google</a></li>
            <li><a href="https://facebook.com/" target="_blank">Facebook</a></li>
            <li><a href="https://youtube.com/" target="_blank">Youtube</a></li>
            <li><a href="https://www.bing.com/" target="_blank">Bing</a></li>
        </ul>
    </mat-card-content>
</mat-card>
