<button mat-raised-button color="warn" (click)="reIterateDomains()">ReIterate</button>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 selvideo-domains">

    <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

    <!-- Rank Column -->
    <ng-container matColumnDef="rank" *ngIf="displayedColumns.includes('rank')">
        <th mat-header-cell *matHeaderCellDef> Rank </th>
        <td mat-cell *matCellDef="let element"> {{element.rank}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Updated Column -->
    <ng-container matColumnDef="updated">
        <th mat-header-cell *matHeaderCellDef> Updated </th>
        <td mat-cell *matCellDef="let element"> {{element.updated}} </td>
    </ng-container>

    <!-- Expiry Column -->
    <ng-container matColumnDef="expiry">
        <th mat-header-cell *matHeaderCellDef> Expiry </th>
        <td mat-cell *matCellDef="let element"> {{element.expiry}} </td>
    </ng-container>

    <!-- Remaining Time Column -->
    <ng-container matColumnDef="remainingtime">
        <th mat-header-cell *matHeaderCellDef> Remaining Time </th>
        <td mat-cell *matCellDef="let element"> {{element.remainingtime}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>