<mat-card>
    <mat-card-title class="black">Selenium Video</mat-card-title>
    <mat-card-subtitle>A virtualized tool to run your selenium scripts online for free</mat-card-subtitle>
    <mat-card-content>
        <br/>
        <h2 class="black">About Us</h2>
        <h3 class="black">We present you, Selenium Video.</h3>

        <ul class="grey">
            <li>One stop destination for learning selenium right away from a URL hit in a browser.</li>
            <li>One stop destination for running selenium right away from a URL hit in a browser.</li>
            <li>One stop destination for having an Interview for a Selenium Engineer right away from a URL hit in a browser.</li>
            <li>
                This site helps you to solidify your foundation for learning selenium Automation, without overhead of having a setup
                that takes time which otherwise you can spend it on learning.
            </li>
            <li>
                Learning from hours spanned videos that you find online might require heavy schedule for you to process. People find it too heavy to stick it in their schedule.
            </li>
            <li>
                Purchasing ever ending video based courses that stay waiting for learners to engage, is annoying than text and Image based courses that requires very less time.
            </li>
        </ul>

        <h3 class="black">Why to learn from <b class="red">Selenium Video</b> ?</h3>
        <ul class="grey">
            <li>If you prefer precise, simple and straight to the point approach, you are in right place.</li>
            <li>
                This site provides wide variety of test cases for a web app using Seleniumm right from a browser. Yes, this is like a <a href="https://stackblitz.com/" target="_blank">stackblitz</a> to ui-automation
            </li>
        </ul>

        <h3 class="black">How to learn from this site ?</h3>
        <ul class="grey">
            <li>
                Just go through the test cases mentioned, update the code as per your wish, see response in form of a video.
            </li>
            <li>
                Checkout the description for each test case to have a better insights.
            </li>
            <li>
                Check this <a href="https://google.com" target="_blank">Video Tutorial</a> on How to Use.
            </li>
        </ul>

        <h2 class="black">Contact Us</h2>
        <ul class="grey">
            <li>
                You can e-mail us at selenium[dot]online[dot]video[at]gmail[dot]com
            </li>
            <li>
                You can mail us at ...
            </li>
            <ul>
                <li>
                    8th A Main Rd, BEL Layout 1st Block, BEL Layout, Vidyaranyapura, Bengaluru, Karnataka, 560097, India.
                </li>
            </ul>
        </ul>
    </mat-card-content>
</mat-card>