<div class="interview-token-container">
    <mat-card>
        <mat-radio-group [(ngModel)]="devTokenTypeSelected" aria-label="Select a Plan">
            <mat-radio-button id="trail-radio-button" [value]="planEnumValues.trail">Trail</mat-radio-button>
            <mat-radio-button [value]="planEnumValues.hour">Hour [PRO]</mat-radio-button>
            <mat-radio-button [value]="planEnumValues.day">Day [PRO]</mat-radio-button>
            <mat-radio-button [value]="planEnumValues.interview">Interview</mat-radio-button>
        </mat-radio-group>
        <div class="interview-token-container" *ngIf="devTokenTypeSelected === planEnumValues.hour">
            <mat-card>
                <ul>
                    <li>One hour of uninterrupted Ad free learning</li>
                    <li>Good for quick discussions</li>
                    <li>Click Subscribe to Activate</li>
                </ul>
            </mat-card>
        </div>
        <div class="interview-token-container" *ngIf="devTokenTypeSelected === planEnumValues.day">
            <mat-card>
                <ul>
                    <li>One Day of uninterrupted Ad free learning</li>
                    <li>Practice Selenium in a Day</li>
                    <li>Click Subscribe to Activate</li>
                </ul>
            </mat-card>
        </div>
        <div class="interview-token-container" *ngIf="devTokenTypeSelected === planEnumValues.trail">
            <mat-card>
                <ul>
                    <li>10 to 20 mins of trail plan</li>
                    <li>Good for quick runs of snippets</li>
                </ul>
            </mat-card>
        </div>
        <div class="interview-token-container" *ngIf="devTokenTypeSelected === planEnumValues.interview">
            <mat-card class="gold-bg black">
                <ul>
                    <li>Schedule Interview anytime in next 24 Hours</li>
                    <li>Interview effectively with hands on for selenium automation</li>
                    <li>Hire the best talent</li>
                    <li>Dont rely on local IDEs for Interview</li>
                    <li>Create an Interview environment for coding</li>
                </ul>
                <mat-form-field appearance="fill">
                    <mat-label>Enter INTERVIEWEE Gmail</mat-label>
                    <input matInput placeholder="pat@example.com" [formControl]="email" [(ngModel)]="intervieweeEmail" required>
                    <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
                </mat-form-field>
                <mat-card-actions align="end">
                    <button mat-raised-button class="black-bg white" [routerLink]="'pricing'">Check Price Card</button>
                    <ng-container *ngIf="devTokenTypeSelected === planEnumValues.interview && !email.invalid">
                        <app-payment-gateway-integration [plan]="devTokenTypeSelected" [intervieweeEmail]="intervieweeEmail"></app-payment-gateway-integration>
                    </ng-container>
                    <ng-container *ngIf="email.invalid">
                        <button mat-raised-button disabled>Subscribe</button>
                    </ng-container>
                </mat-card-actions>
            </mat-card>
        </div>
        <mat-card-actions align="end">
            <button mat-raised-button class="black-bg white" [routerLink]="'pricing'" *ngIf="devTokenTypeSelected !== planEnumValues.interview">Check Price Card</button>
            <ng-container *ngIf="devTokenTypeSelected === planEnumValues.hour">
                <app-payment-gateway-integration [plan]="devTokenTypeSelected"></app-payment-gateway-integration>
            </ng-container>
            <ng-container *ngIf="devTokenTypeSelected === planEnumValues.day">
                <app-payment-gateway-integration [plan]="devTokenTypeSelected"></app-payment-gateway-integration>
            </ng-container>
            <button mat-stroked-button color="primary" *ngIf="devTokenTypeSelected === planEnumValues.trail"
                (click)="generateDevToken()">
                {{ isTrailTokenAvailable() ? 'Get Trail Plan (Already Exists)' : 'Get Trail Plan' }}
            </button>
        </mat-card-actions>
    </mat-card>
</div>
<br>
<mat-card>
    <ul>
        <li>How to use Interview Mode? <a href="https://youtu.be/KNCp4MB58Eo" target="_blank">Video Tutorial</a></li>
        <li>Introduction, How to use? <a href="https://youtu.be/S3IJRwH4Ppc" target="_blank">Video Tutorial</a></li>
        <li>Phone Number used for transaction tracking only.</li>
        <li>Please wait until transaction is complete</li>
        <li>Check <mat-chip [routerLink]="'home'" color="primary" selected>Contact US</mat-chip> Section for Support</li>
    </ul>
</mat-card>
<br>
<mat-divider></mat-divider>
<br>
<mat-chip-list aria-label="error">
    <mat-chip *ngIf="allTokens.length && !activeMode">
        <mat-icon>
            <span class="material-symbols-rounded red">
                warning
            </span>
        </mat-icon>
        Activate any Plan.
    </mat-chip>
    <mat-chip *ngIf="!allTokens.length">
        <mat-icon>
            <span class="material-symbols-rounded red">
                warning
            </span>
        </mat-icon>
        It seems, You dont have any active plans.
        Generate any Developer Token.
    </mat-chip>
</mat-chip-list>
<br>
<mat-card>
    <table mat-table [dataSource]="allTokens" class="mat-elevation-z8">
        <ng-container matColumnDef="token">
            <th mat-header-cell *matHeaderCellDef> Token </th>
            <td mat-cell *matCellDef="let row"> {{row.token}} </td>
        </ng-container>
        <ng-container matColumnDef="tokentype">
            <th mat-header-cell *matHeaderCellDef> Token Type </th>
            <td mat-cell *matCellDef="let row"> {{row.tokentype}} </td>
        </ng-container>
        <ng-container matColumnDef="timeremaining">
            <th mat-header-cell *matHeaderCellDef> Time Remaining </th>
            <td mat-cell *matCellDef="let row"> {{ getTimeRemaining(row.timeremaining) }} </td>
        </ng-container>
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let row">
                <mat-chip-list aria-label="status" (click)="setActiveToken(row)">
                    <mat-chip>
                        <mat-icon>
                            <span class="material-symbols-rounded" [ngClass]="row.status ? 'green' : 'red'">
                                check_circle
                            </span>
                        </mat-icon>
                        {{ row.status ? 'Active' : 'Inactive' }}
                    </mat-chip>
                </mat-chip-list>

            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-card-actions align="end">
        <button mat-stroked-button color="primary" (click)="refreshTable()">
            Refresh Table
        </button>
        <button id="subs-trans" (click)="authenticateTransaction()" [hidden]="true">
        </button>
    </mat-card-actions>
</mat-card>