<mat-card class="codeeditor-screen" *ngIf="!visibility">
    <h3 class="red">Code hidden!</h3>
    <ng-container *ngIf="!isInterviewMode">
        <span class="purple">
            Want to give it a try before proceeding to Solution?
        </span>
        <br><br><br>
        <button mat-stroked-button color="primary" (click)="trySolution()">
            <span>Try Out</span>
            <mat-icon>
                <span class="material-icons-outlined orange">
                    science
                </span>
            </mat-icon>
        </button>
        <button mat-stroked-button color="primary" (click)="showSolutionForNow()">
            <span>Show Code</span>
            <mat-icon>
                <span class="material-icons-outlined orange">
                    visibility
                </span>
            </mat-icon>
        </button>
        <button mat-raised-button color="warn" (click)="alwaysShowSolution()">
            <span>Always Show Code</span>
            <mat-icon>
                <span class="material-icons-outlined orange">
                    code
                </span>
            </mat-icon>
        </button>
    </ng-container>
    <ng-container *ngIf="isInterviewMode">
        <span class="purple">
            Disable Interview Mode from Profile Settings to see solution.
        </span>
    </ng-container>
</mat-card>
<mat-form-field class="codeeditor-form-field" appearance="fill" [style]="codeEditorOpacity">
    <textarea matInput class="codeeditor-editor" cdkTextareaAutosize #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="15" cdkAutosizeMaxRows="50" spellcheck="false" [(ngModel)]="code" [readonly]="readonly"
        placeholder="Code It Down..." (click)="showLoginWarningNotification()"></textarea>
    <button mat-icon-button matTooltip="Show Solution" (click)="onResetCode()">
        <mat-icon>
            <span class="material-icons-outlined green">
                restore
            </span>
        </mat-icon>
    </button>
    <button mat-icon-button matTooltip="Copy Code" [cdkCopyToClipboard]="code">
        <mat-icon>
            <span class="material-icons-outlined purple">
                content_copy
            </span>
        </mat-icon>
    </button>
    <button mat-icon-button matTooltip="Clear Code">
        <mat-icon>
            <span class="material-icons-two-tone red" (click)="clearCode()">
                delete
            </span>
        </mat-icon>
    </button>
    <button mat-icon-button matTooltip="{{ editorTooltip }}" disabled>
        <mat-icon>
            <span class="material-icons-outlined {{ toggleEditColor }}">
                {{ editorStatus }}
            </span>
        </mat-icon>
    </button>

    <mat-chip *ngIf="!isLoggedIn" disabled>Login to unlock Editor</mat-chip>

    <ng-container *ngIf="isLoggedIn && !activeMode && !setVideoPlayerService.isCodeExecutionInProgress">
        <mat-chip disabled>
            Plan expired, Open profile.
        </mat-chip>
    </ng-container>

    <ng-container *ngIf="isLoggedIn && !activeMode && setVideoPlayerService.isCodeExecutionInProgress">
        <mat-chip disabled>
            Code is being Executed ...
            <mat-icon>
                <span class="material-icons-outlined purple">
                    videocam
                </span>
            </mat-icon>
        </mat-chip>
    </ng-container>
    <button mat-flat-button matTooltip="Execute Code" (click)="onExecuteCodeClickHandler()" color="primary"
        class="execute-button" [disabled]="!activeMode || setVideoPlayerService.isCodeExecutionInProgress || !code || isCodeInvalid">
        <span>Se</span>
        <mat-icon>
            <span class="material-icons-outlined orange">
                play_circle_filled
            </span>
        </mat-icon>
        <mat-progress-bar mode="indeterminate" *ngIf="setVideoPlayerService.isCodeExecutionInProgress"></mat-progress-bar>
    </button>
    <mat-hint *ngIf="isCodeInvalid" align="end">{{ isCodeInvalid }}</mat-hint>
</mat-form-field>
<div>
    <app-techstackselector></app-techstackselector>
</div>