<mat-accordion class="mat-accordion">
    <div>
    <mat-expansion-panel
        *ngFor="let test of tests; trackBy: trackByMethod; first as isFirst;"
        class="mat-expansion-panel"
        [disabled]="!isFirst && isInterviewMode"
        [expanded]="isFirst || isAnchorTagMatched(test)"
        [routerLink]="getRouteLink(test)"
        [id]="getId(test)"
    >
        <mat-expansion-panel-header class="mat-expansion-panel-header">
            <mat-panel-title class="testcase-title">
                {{ test.testcase_title }}
            </mat-panel-title>
        </mat-expansion-panel-header>
        <app-codeeditor
            [code]="getCode(test)"
            (resetCodeEventEmitter)="resetCode()"
            [visibility]="getTestCaseCodeVisibility()"
            [isCurrentElementFirst]="isFirst"
        >
        </app-codeeditor>
        <app-codeeditor-description
            [description]="test.testcase_description"
            [title]="test.testcase_title"
            [source]="test.testcase_source"
        >
        </app-codeeditor-description>
    </mat-expansion-panel>
    </div>
</mat-accordion>
